.buttonProduct{
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 250px;
  height: 70px;
  background-color: red;
}

.buttonProduct-children{
  font-size: 20px;
  color: white;
  width: 70%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 10px 20px 10px 5px;
  clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 50%, 0 0);
}

.buttonProduct-effect{
  background: url('../../../../image/fon.jpeg') 0 0/5px 10px repeat;
  width: 30%;
  height: 100%;
  transition-duration: 0.3s;
  clip-path: polygon(100% 0, 100% 500px, 100% 100%, 0 100%, 40% 50%, 0 0);
}

.buttonProduct-effect-hover{
  transition-duration: 0.3s;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 30% 100%, 70% 50%, 30% 0);
}

