.buttonControlProduction{
  font-size: 30px;
  font-weight: 600;
  color: rgb(80, 80, 80);
  margin: 20px 0px;
  background-color: white;
  text-align: left;
  width: 400px;
  transition-duration: 0.5s;
}
.buttonControlProduction:hover{
  transition-duration: 0.5s;
  color:red
}